# Ignore local SQLite DB
# Local DBs
mathkids.db
proyecto_poo_mathkids/mathkids.db

# Build artifacts
/build/
/dist/
*.class
*.jar
*.war
*.ear

# NetBeans
nbproject/private/

# IDE / OS
.DS_Store
Thumbs.db
